#jinja2: lstrip_blocks: "True", trim_blocks: "True"
{%- from "macros/container.j2" import container with context -%}
#!/bin/sh
# This script is executed at boot time after VyOS configuration is fully applied.
# Any modifications required to work around unfixed bugs
# or use services not available through the VyOS CLI system can be placed here.

{% if vyos_coredns['enabled'] %}
# CoreDNS workaround until podman is fully supported on CLI
{{ container(
  'coredns',
  {
    'image': {
      'repository': vyos_coredns['container']['repository'],
      'tag': vyos_coredns['container']['tag']
    },
    'volumes': [
      vyos_coredns['config_path'] + ':/config',
      '/etc/hosts:/etc/hosts:ro'
    ],
    'cap_add': [
      'CAP_NET_BIND_SERVICE'
    ],
    'host-networking': true
  }
) }}
{% endif %}

{% for container_name, container_config in vyos_containers.items() %}
{{ container(container_name, container_config) }}

{% endfor -%}
