#!/bin/sh
# This script is executed at boot time after VyOS configuration is fully applied.
# Any modifications required to work around unfixed bugs
# or use services not available through the VyOS CLI system can be placed here.

{% if vyos_coredns['enabled'] %}
# CoreDNS workaround until podman is fully supported on CLI
cat <<EOT > /etc/systemd/system/coredns.service
[Unit]
Description=CoreDNS container
Wants=network.target
After=network-online.target

[Service]
Restart=on-failure
TimeoutStopSec=60
ExecStartPre=/usr/bin/podman rm --force --volumes --ignore coredns
ExecStart=/usr/bin/podman run -d --rm --net host --cap-add NET_BIND_SERVICE --name coredns -v {{ vyos_coredns['config_path'] }}:/config -v /etc/hosts:/etc/hosts:ro {{ vyos_coredns['container']['repository'] }}:{{ vyos_coredns['container']['tag'] }}
ExecStop=/usr/bin/podman stop -t 10 coredns
ExecStopPost=/usr/bin/podman stop -t 10 coredns
Type=forking

[Install]
WantedBy=multi-user.target default.target
EOT

systemctl daemon-reload
systemctl start coredns
{% endif -%}
