---
apiVersion: v1
kind: Config
clusters:
- name: default
  cluster:
    certificate-authority-data: {{ certificate_authority }}
    server: https://{{ api_ip }}:6443
contexts:
- name: {{ service_account }}@default
  context:
    cluster: default
    namespace: {{ service_account_ns }}
    user: {{ service_account }}
users:
- name: {{ service_account }}
  user:
    token: {{ certificate_authority_token }}
current-context: {{ service_account }}@default
